@CHARSET "ISO-8859-1";
/*	===================================================================
	site.css
	
	Basic site styles
	
	-------------------------------------------------------------------
		v.1.0	2013-03-25	-	initial version of file
	-------------------------------------------------------------------
	-------------------------------------------------------------------
	-------------------------------------------------------------------
	-------------------------------------------------------------------
	-------------------------------------------------------------------
 
	=================================================================== */

/* --------------------------------
   -------------------------------- */
body {
	background-color:#efe;
}
/* --------------------------------
   -------------------------------- */
table {
   width:50%;
   border: 1px solid black;
   border-collapse: collapse;
   }
/* --------------------------------
   -------------------------------- */
th, td {
   padding: 5px;
   text-align: left;
   border: 1px solid black;
}
/* --------------------------------
   -------------------------------- */
th {
	background-color: #cdc;
	
}
tr.even {
	background-color: #fff;
}
tr.odd {
	background-color: #ded;
}


/* --------------------------------
   -------------------------------- */
   